.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.gallery-item {
    width: calc((100% - 2 * 12px) / 3);
}

.gallery-link {
    display: block;
    text-decoration: none;
}

.gallery-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.gallery-image:hover {
    transform: scale(1.05);
}

.basicLightbox__placeholder>img {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    margin-left: auto;
    margin-right: auto;
}